/* Navbar */
.HeadingStyle {
  /* font-size: 25px; */
  /* margin-left: 0px; */
  align-items: baseline;
}
/* Mateo Rodriguez in NavBar */
.TextStyle {
  font-size: 16px;
  font-weight: 16px;
}

.FooterStyle {
  /* background-color: rgb(31, 32, 33); */
}
/* Footer Image */
.GitHubLogo {
  text-align: center;
  /* padding-left: 1111px; */
}
/* Footer Image */
.LinkedinLogo {
  /* text-indent: 2px; */
  text-align: center;
}
/* Footer Image */
.IGLogo {
  /* text-indent: 1px; */
  text-align: center;
}
/* text in cards */
.card-text {
  color: rgb(139, 139, 139);
}
/* Button Card */
.ProjectButton {
  width: 100%;
}
.label {
  width: 100px;
}
#CustomNav {
  background-color: rgb(18, 18, 18) !important;
}
#submitButton {
  width: 125px;
}
#formContainer{
    min-height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#formWidth{
    width: 90%;
}
#formContainer h1{
    color: rgb(139, 139, 139);
}